{% extends 'Home.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="row justify-content-center align-items-center" >
  <div class="col-lg-6">
		<div class="box-element">
				<div id="user-info">
					<hr>
					<h5 style = "text-align:center">  Send Message</h5>
					<hr>
					<form class="Add_Code" method="POST" autocomplete="off" id="form" name ="Add">
						{% csrf_token %}

           <div class="form-field ">
              {{ DForms.From|as_crispy_field }}

						</div>
            <div class="form-field">
               {{ DForms.To|as_crispy_field }}

             </div>
             <div class="form-field">
               {{ DForms.message|as_crispy_field}}
            </div>

					       <hr>
 	                <input id="form-button" class="btn btn-success btn-block" type="submit" value="Send">
 	              <hr>
 	              {% if messages %}
 	               {% for message in messages %}
 	                {% if message.tags %}  <script>alert("{{ message }}")</script> {% endif %}
 	                {% endfor %}
 	                {% endif %}
 	              </form>
 	          </div>
 	        </div>
 	  </div>
 	</div>

 	{% endblock content %}
